.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 18px 41px;
    border: 2px solid #fa0505;
    border-radius: 17px;
    background: #03a824;
    background: -webkit-gradient(linear, left top, left bottom, from(#03a824), to(#057a1c));
    background: -moz-linear-gradient(top, #03a824, #057a1c);
    background: linear-gradient(to bottom, #03a824, #057a1c);
    text-shadow: #034811 1px 1px 1px;
    font: normal normal bold 30px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 2px solid #ff0808;
    background: #04ca2b;
    background: -webkit-gradient(linear, left top, left bottom, from(#04ca2b), to(#069222));
    background: -moz-linear-gradient(top, #04ca2b, #069222);
    background: linear-gradient(to bottom, #04ca2b, #069222);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #026516;
    background: -webkit-gradient(linear, left top, left bottom, from(#026516), to(#057a1c));
    background: -moz-linear-gradient(top, #026516, #057a1c);
    background: linear-gradient(to bottom, #026516, #057a1c);
}
