    /* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */
    
    .full {
        background-color: #2E1557;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    
    .full .jumbotron {
        margin-top: 120px;
    }
    
    .full .container {
        width: 800px;
    }
    
    #bot-log,
    #bot-reg {
        background-color: #AA3939;
        width: 50%;
    }
    
    .form-group {
        margin: 50px 100px 50px 100px;
    }
    
    #bot-log:hover,
    #bot-reg:hover {
        background: #550400;
    }
    
    .btn-group .btn {
        width: 150px;
    }
    
    #bot-esq {
        margin-top: 20px;
    }
    
    .nav-top,
    .nav-bottom {
        background-color: #674F91;
    }
    
    .nav-top .nav-item a {
        color: white;
        font-family: 'Merriweather', serif;
    }
    
    .material-icons {
        font-size: 2em;
        color: white;
    }
    
    .jogar,
    .perfil,
    .inventario,
    .loja {
        display: none;
    }
